@import "../../scss/mixins.scss";
@import "../../scss/variables.scss";

.row-gap {
  column-gap: 20px;
}
.icon-wrapper {
    margin-top: 50px;
}
.pointer {
    cursor: pointer;
}
.hover-tip {
  top: -50px;
  left: -49px;
  z-index: 2000;
  width: max-content;
  background: #414141;
  background: linear-gradient(95.25deg, #ff9900 2.44%, #ff6716 98.67%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 8px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 8px;
}
.game-container {
  .shapes-group {
    background-image: url(../../assets/imgs/Group.png);
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    z-index: -1;
    position: absolute;
    top: 2rem;
    left: 0;
    width: 100%;
    min-height: 100vh;
    @media (max-width: $md) {
      background-image: url(../../assets/imgs/maskgroup.png);
    }
  }

  .game {
    overflow: hidden;
    position: relative;

    .tabs {
      @include flex(flex-start, center);

      .tab {
        font-size: 1.3rem;
        padding: 0.6rem 4rem;
        font-weight: 300;
        width: fit-content;
        white-space: nowrap;
        cursor: pointer;
        user-select: none;
        @media (max-width: $lg) {
          font-size: 1.15rem;
        }
        @media (max-width: $sm) {
          font-size: 1rem;
        }

        &:hover:not(.active) {
          background-color: $med-gray;
        }
      }

      .active {
        background-color: $gray;
        font-weight: 500;
      }
    }

    .game-box {
      background-color: $med-gray;
      padding: 3.5rem;
      margin-bottom: 3.5rem;
      @media (max-width: $xl) {
        padding: 2rem 2rem 2rem 2rem;
      }
      @media (max-width: $sm) {
        padding: 1.5rem 1.2rem;
      }

      .calcs {
        @include flex(space-between, center);
        @media (max-width: $lg) {
          flex-direction: column;
          @include flex(flex-start, flex-start);
        }

        .form-group {
          width: 100%;
        }

        @media (max-width: $lg) {
          .form-group,
          .icon {
            padding-bottom: 1.125rem;
          }
        }

        .multip,
        .gives {
          margin-top: 0.4rem;
          margin-left: 1.3rem;
          margin-right: 1.3rem;

          @media (max-width: $lg) {
            display: none;
          }
        }

        .multip {
          svg {
            width: 13px;
          }
        }
        .gives {
          svg {
            width: 23px;
          }
        }

        .custom-input {
          position: relative;
          width: 100%;
          margin-right: 1.25rem;

          .icons {
            position: absolute;
            top: 50%;
            right: 1rem;
            @include flex(flex-start, center);
            transform: translateY(-50%);
            img {
              max-width: 25px;
              &:first-child {
                margin-right: 0.75rem;
              }
            }
          }
        }
      }

      .info {
        padding-bottom: 2rem !important;
        span {
          font-size: 1.5rem;
        }

        .values {
          opacity: 1;
        }
        .profit {
          @include flex(flex-start, center);
          img {
            max-width: 20px;
            margin-right: 0.45rem;
          }
        }
      }

      .roll {
        justify-content: center;
      }
    }
  }
}
