@import "../../../scss/mixins.scss";
@import "../../../scss/variables.scss";

.trust {
    .first-col {
        padding-right: 0.8rem;
        @media (max-width: $md) {
            padding: 0 0.75rem;
        }
    }
    .sec-col {
        padding-left: 0.8rem;
        @media (max-width: $md) {
            padding: 0 0.75rem;
        }
    }

    .item {
        border: 1.5px solid rgba(255, 255, 255, 0.2);
        padding: 1.4rem 2rem;
        margin-bottom: 1.6rem;
        @media (max-width: $md) {
            padding: 1.3rem 0.9rem;
            margin-bottom: 1.25rem;
        }


        .icon {
            @include flex(flex-end, center);
            position: relative;
            margin-bottom: 1.5rem;
            padding-top: 3rem;
            width: 95%;
            @media (max-width: $md) {
                width: 97%;
                padding-top: 0;
                margin-bottom: .3rem;
            }

            img {
                max-width: 65px;
                @media (max-width: $md) {
                    max-width: 35px;
                }
            }
            .ellipse {
                position: absolute;
                right: -0.8rem;
                bottom: 0.2rem;
                @media (max-width: $md) {
                    max-width: 30px;
                    right: -0.3rem;
                    bottom: 0.3rem;
                }
            }
        }

        h2 {
            font-size: 1.5rem;
            margin-left: .4rem;
            width: fit-content;

            @media (max-width: $md) {
                font-size:1.125rem;
            }

            &::after {
                width: calc(50% / 2 + 3.5rem);
                left: -2.5%;
            }

            &:last-child{
                &::after{
                    top: 0.75rem;
                }
            }
        }

        p {
            margin: 0.9rem 0;
            font-weight: 300;
            &:last-child {
                margin-bottom: 0;
            }
        }

        ul {
            list-style: none;
            @media (max-width: $md) {
               margin: 0;
               padding-left: .4rem;
            }

            li {
                position: relative;
                margin-left: 0.5rem;
                margin-bottom: 0.8rem;
                @media (max-width: $md) {
                    margin-left: 0;
                }
                &:last-child {
                    margin-bottom: 0;
                }

                &::before {
                    content: "";
                    position: absolute;
                    background-color: $orange;
                    display: inline-block;
                    width: 7px;
                    height: 7px;
                    left: -1.5rem;
                    top: 0.7rem;
                    transform: rotate(45deg);
                    @media (max-width: $md) {
                        left: -.8rem;
                        top: 0.5rem;
                        width: 5px;
                        height: 5px;
                    }
                }
            }
        }
    }
}
