@import "../../../scss/mixins.scss";
@import "../../../scss/variables.scss";

.email-address {
    p,
    span {
        font-weight: 300;
    }

    .contact-email {
        color: $orange;
        text-decoration: underline;
    }

    .desc {
        padding-bottom: 1.8rem;
        @media (max-width: $sm) {
            padding-bottom: 1rem;
        }
    }
}
