@import "../../../scss/mixins.scss";
@import "../../../scss/variables.scss";

.register {
    min-height: max-content;
    width: 100%;
    margin: 0 auto;
    padding: 0 !important;

    .modal-body {
        background-color: $med-gray;
        padding: 2.2rem;

        @media (max-width: $lg) {
            padding: 1.7rem;
        }
        @media (max-width: $md) {
            padding: 1.5rem;
        }
        @media (max-width: $sm) {
            padding: 1rem;
        }
    }

    .logo {
        @include flex(flex-start, center);
        margin-bottom: 4rem;
        padding: 0 1.5rem;
        @media (max-width: $lg) {
            padding: 0 1rem;
        }
        @media (max-width: $sm) {
            padding: 0 0.8rem;
            margin-bottom: 2rem;
        }
        span {
            font-size: 1.5rem;
            @media (max-width: $md) {
                font-size: 1.25rem;
            }
        }
        img {
            max-width: 45px;
            margin-right: 0.5rem;
            @media (max-width: $sm) {
                max-width: 30px;
            }
        }
    }

    .registergroup {
        @include flex(flex-start, center);
        margin-bottom: 2rem;
        .desc {
            font-weight: 500;
            font-size: 2.1rem;
            @media (max-width: 500px) {
                font-size: 1.2rem;
                padding-right: 0;
            }
        }

        .for-modal {
            @media (max-width: $lg) {
                font-size: 2rem;
            }
            @media (max-width: $sm) {
                font-size: 1.2rem;
                padding-right: 0;
            }
        }

        .btcimg {
            img {
                max-width: 100%;
            }
            @media (max-width: $sm) {
                padding-left: 0;
            }
        }
    }

    h1 {
        background: linear-gradient(95.25deg, #ff9900 2.44%, #ff6716 98.67%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 2rem;
        font-size: 2rem;
        @media (max-width: $lg) {
            font-size: 1.5rem;
            margin-bottom: 1.5rem;
        }
    }

    .custom-input {
        position: relative;
        .refresh-icon {
            position: absolute;
            height: 100%;
            @include flex(center, center);
            top: 0;
            right: 1.5rem;
            cursor: pointer;
            @media (max-width: $sm) {
                right: .7rem;
            }
            @media (max-width: $lg) {
                right: 1.1rem;
            }
            img {
                @media (max-width: $lg) {
                    max-width: 25px;
                }
                @media (max-width: $sm) {
                    max-width: 20px;
                }
            }
        }

        .refresh-active {
            animation: refresh 2s infinite linear;
        }
    }

    .form-group {
        span {
            line-height: 1rem;
            font-size: 1rem;
            padding-bottom: 0.125rem;
            @media (max-width: $sm) {
                font-weight: 300;
                font-size: 0.8rem;
            }
        }

        .span-username {
            font-size: 1rem;
            @media (max-width: $md) {
                font-size: 0.8rem;
            }
        }

        .recommend {
            span {
                color: $orange;
                @media (max-width: $sm) {
                    font-size: 0.75rem;
                    font-weight: 400;
                }
            }
        }
    }

    .check-terms {
        .form-check {
            @include flex(flex-start, center);
            cursor: pointer;
            
            label {
                margin-left: 1rem;
                cursor: pointer;
                user-select: none;
                white-space: nowrap;
                @media (max-width: $sm) {
                    font-size: 0.8rem;
                    margin-left: 0.5rem;
                }
            }

            input {
                border-radius: 0px;
                max-width: 10px;
                max-height: 10px;
                cursor: pointer;
                @media (max-width: $sm) {
                    padding: .7rem;
                }
            }
        }
    }

    .last {
        padding-bottom: 2rem;
    }

    button {
        margin-bottom: 1.5rem;
    }

    .register-with {
        text-align: center;
        margin-bottom: 2.7rem;
    }

    .register-methods {
        @include flex(space-evenly, center);
        img {
            max-width: 100%;
            cursor: pointer;
            @media (max-width: $lg) {
                max-width: 90%;
            }
            @media (max-width: $md) {
                max-width: 40px;
            }
        }
    }
}
