@import "../../../scss/mixins.scss";
@import "../../../scss/variables.scss";

.home-footer {
    background-image: url(../../../assets/imgs/Group.png);
    background-position: center;
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
    @media (max-width: $md) {
        padding-top: 3.5rem;
        padding-bottom: 1rem;
        background-image: url(../../../assets/imgs/maskgroup.png);
    }
    
    .container {
        @include flex(center, center);
        flex-direction: column;
    }

    h2 {
        font-size: 3.25rem;
        margin-top: 2.8rem;
        @media (max-width: $md) {
            font-size: 1.5rem;
            margin-top: .9rem;

            &::after{
                width: 40%;
            }
        }
    }

    p {
        margin-top: 2rem;
        font-size: 1.375rem;
        text-align: center;
        a {
            color: $orange;
            text-decoration: underline;
        }
        @media (max-width: $md) {
            margin-top: .8rem;
            font-size: 0.875rem;
        }
        span {
            color: $orange;
        }
    }

    .play-row {
        width: 100%;
        justify-content: center;
        margin-top: 3rem;
        @media (max-width: $md) {
            margin-top: 2rem;
        }

        button {
            @include flex(center, center);

            svg{
                width: 25px;
            }
        }
    }
}


