@import "../../../scss/mixins.scss";
@import "../../../scss/variables.scss";

.modal {
    padding-left: 0 !important;
}

.modal-dialog {
    padding: 0 !important;
}

.reset-password {
    min-height: max-content;
    width: 100%;
    margin: 0 auto;
    padding: 0 !important;

    .modal-body {
        background-color: $med-gray;
        padding: 2.2rem;

        @media (max-width: $lg) {
            padding: 1.7rem;
        }
        @media (max-width: $md) {
            padding: 1.5rem;
        }
        @media (max-width: $sm) {
            padding: 1rem;
        }
    }

    .last {
        padding-bottom: 2.5rem;
    }
}
