@import "../../../scss/mixins.scss";
@import "../../../scss/variables.scss";

.mobile-menu {
    height: 0;
    width: 100%;
    background: $med-gray;
    position: absolute;
    top: 100%;
    left: 0;
    transition: 0.2s ease-in-out;
    overflow: hidden;

    ul {
        color: #fff;
        list-style: none;
        padding: 2rem 1.25rem;

        li {
            padding-bottom: 1.8rem;
            cursor: pointer;
            &:last-child {
                padding-bottom: 0;
            }

            button {
                border: none;
                outline: none;
                padding: 0;
                background: transparent;
                width: fit-content;
                font-weight: 400;
                color: inherit;

                svg{
                    margin-left: 7px;
                    transition: .2s ease-in-out;
                }

                .open-svg{
                    transform: rotate(180deg);
                }

            }
        }

        .user-drop {
            .dropdown {
                button {
                    color: #fff;
                    &:focus,
                    &:hover {
                        background-color: transparent;
                        border: none;
                        box-shadow: none;
                    }
                }

                .dropdown-menu {
                    border: none;
                    background: $med-gray;
                    min-width: 100%;
                }

                .dropdown-item {
                    color: #fff;
                    padding-top: 0.5rem;
                    &:hover {
                        color: rgba($color: #fff, $alpha: 0.8);
                    }
                }
            }
        }

        .logout {
            button {
                color: $danger;
            }
        }
    }

    .links-list-group{
        padding: 0;
        padding-left: 1rem;
        margin-top: .4rem;

        li{
            padding-bottom: .5rem;
            color: rgba($color: #fff, $alpha: .9);
            cursor: pointer;
            
            &:last-child{
                padding-bottom: 0;
            }
        }
    }
}
.logoutbtn{
    color:  red !important;;
    display: block;
    width: 100%;
    padding: 0.25rem 1rem;
    clear: both;
    font-weight: 400;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
.open-mobile-menu {
    height: max-content;
}
