@import "../../../scss/mixins.scss";
@import "../../../scss/variables.scss";

.account-deletion {
    .desc {
        padding-bottom: 1.8rem;
        @media (max-width: $sm) {
            padding-bottom: 1rem;
        }
    }
    p {
        font-weight: 300;
        margin-bottom: 1.25rem;
        span {
            color: $orange;
        }
    }

    .form-group{
        @media (max-width: $sm) {
            margin-bottom: 0.5rem ;
        }
    }

    .forgot-password {
        @include flex(flex-end, center);
        text-decoration: underline;
        color: $orange;
        margin-bottom: 1.6rem;
    }
}
