@import "../../../scss/mixins.scss";
@import "../../../scss/variables.scss";

.chart {
    margin-top: 3.5rem;
    position: relative;
    height: 500px;
    @media (max-width: $lg) {
        height: 400px;
    }
    @media (max-width: $sm) {
        height: 340px;
    }
}

.custom-tooltip {
    background: #111112;
    border-radius: 9px;
    color: white;
    opacity: 1;
    width: 16rem;
    pointer-events: none;
    position: absolute;
    transform: translate(-50%, 0);
    transition: all 0.1s ease;
    @media (max-width: $md) {
        width: fit-content;
    }
}

.tooltip-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #272728;
    padding: 0.6rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    @media (max-width: $sm) {
        padding: 0.4rem;
    }

    .bet-title {
        color: #ff9900;
        font-size: 0.9rem;
        @media (max-width: $sm) {
            font-size: 0.6rem;
        }
    }

    .mutedId {
        opacity: 0.5;
        font-size: 0.77rem;
        @media (max-width: $sm) {
            font-size: 0.5rem;
        }
    }
}

.tooltip-stats {
    padding: 0.6rem;

    .items-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 0.4rem;
        font-size: 0.9rem;
        @media (max-width: $sm) {
            font-size: 0.6rem;
            padding-bottom: 0.2rem;
        }

        &:nth-child(4) {
            margin-bottom: 0.4rem;
            border-bottom: 1px dashed rgba(255, 255, 255, 0.2);
            @media (max-width: $sm) {
                padding-bottom: 0.2rem;
            }
        }

        &:last-child {
            padding-bottom: 0;
        }
    }
}
