@import "../../scss/mixins.scss";
@import "../../scss/variables.scss";

.footer {
    background-image: url(../../assets/imgs/Group.png);
    background-position: center;
    background-size: cover;
    margin-top: 5rem;
    padding-top: 8rem;
    padding-bottom: 5rem;
    overflow: hidden;
    @media (max-width: $md) {
        margin-top: 1rem;
        background-image: url(../../assets/imgs/maskgroup.png);
    }

    .left {
        img {
            max-width: 80px;
            @media (max-width: $md) {
                max-width: 60px;
            }
        }
        img,
        p {
            margin-bottom: 1.6rem;
        }

        p {
            font-weight: 300;
            line-height: 1.625rem;
            color: #bababa;
        }

        .links {
            a {
                color: $orange;
                margin-right: 1.3rem;
            }
        }
    }

    .right {
        padding-top: 1.25rem;
        @media (max-width: $sm) {
            padding-top: 1.8rem;
        }

        h6 {
            font-size: 1.25rem;
            text-transform: uppercase;
            font-weight: 600;
            margin-bottom: 1.8rem;
        }

        .links {
            @include flex(flex-start, flex-start);
            flex-direction: column;

            a {
                font-weight: 300;
                line-height: 1.625rem;
                color: #bababa;
                text-decoration: none;
                margin-bottom: 1.1rem;
                transition: 0.1s ease-in-out;
                @media (max-width: $md) {
                    margin-bottom: .5rem;
                }

                &:hover {
                    text-decoration: underline;
                    color: $orange;
                }
            }
        }

        .help {
            .links {
                a {
                    &:first-child {
                        text-decoration: none;
                        color: #bababa;
                    }
                    &:hover {
                        text-decoration: underline;
                        color: $orange;
                    }
                }
            }
        }
    }
}
