@import "../../scss/mixins.scss";
@import "../../scss/variables.scss";

.history {
    justify-content: center;
    h4 {
        margin-top: 3.15rem;
        margin-bottom: 1.8rem;
        font-size: 1.563rem;
        @media (max-width: $sm) {
            margin-left: 1.5rem;
        }
    }
    .history-box {
        background-color: $med-gray;
        padding: 2.5rem 3rem;
        @media (max-width: $sm) {
            padding: 0.75rem 1.5rem;
        }

        .table {
            th,
            td {
                font-size: 1.2rem;
                color: #ffffff;
                padding: 1.2rem 0;
                padding-right: 6rem;
                &:last-child {
                    padding-right: 0;
                }

                @media (max-width: $sm) {
                    padding-right: 2.5rem;
                    font-size: 1rem;
                }
            }
            th {
                opacity: 0.7;
                font-weight: 300;
                padding-top: 0;
            }
            thead {
                border: none;
            }
            td {
                font-weight: 500;
            }

            .text-confirmed {
                color: $success;
                text-transform: capitalize;
            }
            .text-pending {
                color: $warning;
                text-transform: capitalize;
            }
            .text-request_sent {
                color: #ffd088;
                text-transform: capitalize;
            }
            
            .history-type-deposit{
                color: #ffc107;
            }
            .history-type-withdraw{
                color: #dc3545;
            }
            .text-failed {
                color: $danger;
                text-transform: capitalize;
            }

            .firstseen {
                @include flex(flex-start, flex-start);
                flex-direction: column;

                .date {
                    opacity: 0.7;
                    font-weight: 300;
                    font-size: 0.9rem;
                }
            }

            .address {
                color: $sky;
            }
            .transaction,
            .address {
                cursor: pointer;
            }

            .value {
                @include flex(flex-start, center);
                img {
                    max-width: 22px;
                    max-height: 22px;
                    margin-left: 0.5rem;
                    @media (max-width: $sm) {
                        max-width: 15px;
                        max-height: 15px;
                    }
                }
            }
        }
    }
}
