@import "../../scss/mixins.scss";
@import "../../scss/variables.scss";

.player {
    .title {
        &::after {
            width: 65%;
        }
    }

    .player-box {
        background-color: $med-gray;
        padding: 3.5rem;
        @media (max-width: $xl) {
            padding: 3rem 2rem;
        }
        @media (max-width: $sm) {
            padding: 1.5rem 1.2rem;
        }

        .stats {
            margin-bottom: 4rem;
        }

        .profit {
            @media (max-width: 1200px) {
                display: block;

                & > * {
                    margin-bottom: 1.8rem;
                }
            }

            h4 {
                font-size: 1.5rem;
                white-space: nowrap;
            }

            .options {
                @include flex(center, center);
                width: 100%;

                @media (max-width: 1200px) {
                    margin: 0;
                    margin-bottom: 1.8rem;
                }
                @media (max-width: $md) {
                    flex-direction: column;
                }

                button {
                    border: none;
                    outline: none;
                    font-size: 1rem;
                    min-width: 10rem;
                    white-space: nowrap;
                    &:first-child {
                        background: $gray;
                        color: #fff;
                    }
                    &:nth-child(2) {
                        background: $success;
                        margin: 0 1px;
                    }
                    &:last-child {
                        background: linear-gradient(95.25deg, #ff9900 2.44%, #ff6716 98.67%);
                        color: #fff;
                    }
                }
            }

            .auto-update {
                @include flex(flex-start, center);
                background: $background;
                height: 3rem;
                border: 2px solid rgba(255, 255, 255, 0.2);
                padding: 1rem;
                cursor: pointer;
                white-space: nowrap;
                img {
                    max-width: 20px;
                    margin-right: 0.7rem;
                }
                .refresh-active {
                    animation: refresh 2s infinite linear;
                }
            }

            @keyframes refresh {
                from {
                    transform: rotate(0deg);
                }

                to {
                    transform: rotate(360deg);
                }
            }
        }
    }
}
