@import "../../../../scss/mixins.scss";
@import "../../../../scss/variables.scss";

.auth-layout-footer {
    .login-with {
        text-align: center;
        margin-bottom: 2.7rem;
    }

    .login-methods {
        @include flex(space-evenly, center);
        img {
            max-width: 100%;
            cursor: pointer;
            @media (max-width: $lg) {
                max-width: 90%;
            }
            @media (max-width: $md) {
                max-width: 40px;
            }
        }
    }
}
