@import "../../scss/mixins.scss";
@import "../../scss/variables.scss";

.home{
    min-height: 100vh;
}

.countdown-progress{
    span{
        color: rgb(255, 255, 255);
    }
}
.countdown-lose{
   /* @media screen and (max-width:$sm){
       margin: 0 !important;
      }*/
    span{
        color: #ec644b;
        /*@media screen and (max-width:$sm){
            font-size: 52px;
           }*/
    }
    h1{
        @media screen and (max-width:$sm){
            margin: 0 !important;
           }
    }
}
.countdown-win{
    span{
        color: #00e676;
    }
}