@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "./variables.scss";
@import "./mixins.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: $background;
  color: #fff;
  min-height: 100vh;
  font-family: "Outfit", sans-serif;
  font-size: 1.12rem;
  @media (max-width: $lg) {
    font-size: 0.9rem;
  }
  @media (max-width: $sm) {
    font-size: 0.8rem;
  }
}

.dropdown {
  button {
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
  }

  .dropdown-item {
    background: transparent;
  }
}

.btn-check:checked + .btn-primary,
.btn-check:active + .btn-primary,
.btn-primary:active,
.btn-primary.active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: transparent;
  border: none;
}

.label {
  padding-bottom: 0.5rem;
  color: #ffffff;
  opacity: 0.7;
  font-size: 1.2rem;
  @media (max-width: $lg) {
    font-size: 1.1rem;
  }
  @media (max-width: $md) {
    font-size: 1rem;
    padding-bottom: 0.3rem;
  }
}

.primary-btn {
  border: none;
  outline: none;
  background: linear-gradient(268.28deg, #ff6316 -8.77%, #ff8f16 100%);
  color: #fff;
  transition: 0.2s ease-in-out;
  &:hover {
    background: linear-gradient(268.28deg, #ff8f16 -8.77%, #ff6316 100%);
  }
  &:disabled {
    background: linear-gradient(268.28deg, #ff1660 -8.77%, #c16031 100%);
  }
}

.danger-btn {
  border: none;
  outline: none;
  background: $danger;
  color: #fff;
  transition: 0.2s ease-in-out;
  &:hover {
    background: rgba($danger, 0.9);
  }
}

input {
  outline: none;
  color: #ffffff;
  padding: 0.9rem;
  height: 3.2rem;
  max-width: 100%;
  font-size: 1.1rem;
  width: 100%;
  &::placeholder {
    color: #fff;
  }
  @media (max-width: $lg) {
    font-size: 1rem;
  }
  @media (max-width: $md) {
    height: 2.9rem;
  }
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.form-group {
  padding-bottom: 1.5rem;
  @media (max-width: $sm) {
    padding-bottom: 1.25rem;
  }

  input {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
}

button {
  width: 100%;
  font-size: 1.25rem;
  padding: 0.7rem;
  font-weight: 500;
  @media (max-width: $lg) {
    font-size: 1.2rem;
  }
  @media (max-width: $md) {
    font-size: 1.1rem;
    padding: 0.6rem;
  }
  @media (max-width: $sm) {
    font-size: 1rem;
    padding: 0.5rem;
  }
}
.playerLink {
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}
.require-field {
  color: $danger;
}

.form-check-input:checked {
  background: $orange;
  border-color: $orange;
}

.orange-gradient-text {
  background: linear-gradient(95.25deg, #ff9900 2.44%, #ff6716 98.67%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

* {
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  &::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }
  &::-webkit-scrollbar-thumb {
    background: $orange;
    border: 0px none #ffffff;
    border-radius: 50px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: rgba($orange, 0.9);
  }
  &::-webkit-scrollbar-thumb:active {
    background: rgba($orange, 0.7);
  }
  &::-webkit-scrollbar-track {
    background: #666666;
    border: 0px none #ffffff;
    border-radius: 50px;
  }
  &::-webkit-scrollbar-track:hover {
    background: #666666;
  }
  &::-webkit-scrollbar-track:active {
    background: #333333;
  }
  &::-webkit-scrollbar-corner {
    background: transparent;
  }
}
