//colors

$orange: #ff9501;

$light-gray: #bababa;

$med-gray: #1a1a1b;

$dark-gray: #111112;

$gray: #414141;

$white: #fff;

$background: #111112;

$success: #16ff63;

$danger: #ff163e;

$warning: #ff9900;

$sky: #5aa9e6;

//break points

$sm: 640px;

$md: 768px;

$lg: 992px;

$xl: 1280px;

$xxl: 1536px;
