@import "../../../scss/mixins.scss";
@import "../../../scss/variables.scss";

.modal-dialog {
    max-width: 600px !important;

    @media (max-width: $lg) {
        max-width: 500px !important;
    }

    @media (max-width: $sm) {
        padding: 1rem;
        max-width: 100% !important;
    }
}

.modal-content {
    border: 0 !important;
    background-color: $med-gray !important;
}
