@import "../../../scss/mixins.scss";
@import "../../../scss/variables.scss";

.chat-header {
    @include flex(space-between, center);

    .close-chat {
        @include flex(flex-start, center);
        cursor: pointer;

        svg {
            width: 8px;
            margin-right: 0.5rem;
            @media (max-width: $xl) {
                width: 7px;
            }
        }
    }
    .dropdown {
        button {
            &:focus,
            &:hover {
                background-color: transparent;
                border: none;
                box-shadow: none;
            }
        }

        .dropdown-menu {
            background: $background;
            color: #fff;
        }

        .dropdown-item {
            color: #fff;
            &:hover {
                color: rgba($color: #fff, $alpha: 0.9);
            }
        }
    }
}
