@import "../../../scss/mixins.scss";
@import "../../../scss/variables.scss";

.two-factor-authentication {
    .qrcode {
        @include flex(center, flex-start);
        img {
            max-width: 100%;
            @media (max-width: $sm) {
                max-width: 120px;
            }
        }
        @media (max-width: $lg) {
            margin-bottom: 1.5rem;
        }
    }
    .desc {
        p {
            font-weight: 300;
            &:first-child {
                margin-bottom: 1.25rem;
            }
            &:last-child {
                margin-bottom: 2.25rem;
            }

        }
    }
    .form-group{
        @media (max-width: $sm) {
            margin-bottom: 0.5rem ;
        }
    }
    
    .forgot-password {
        @include flex(flex-end, center);
        text-decoration: underline;
        color: $orange;
        margin-bottom: 1.6rem;

    }



}
